<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="tv" class="polymorphism.SamsungTV" init-method="initMethod" destroy-method="destroyMethod" lazy-init="true" >
        <constructor-arg ref="apple"></constructor-arg>
        <constructor-arg name="price" value="270000"></constructor-arg>
    </bean>

    <bean id="sony" class="polymorphism.SonySpeaker" lazy-init="true" ></bean>
    <bean id="apple" class="polymorphism.AppleSpeaker" lazy-init="true" ></bean>

</beans>